<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.build.tailwind.css}" rel="stylesheet" />
    <title>Admin Home</title>
  </head>

  <body class="bg-yellow-100">
    <h1 class="underline text-center mt-10 mb-20 text-[30px] font-medium">
      Admin Home
    </h1>
    <div
      class="flex flex-wrap justify-evenly border-2 border-red-600 w-auto mx-28 p-10"
    >
      <a
        th:href="@{/admin/insertBookUI}"
        class="font-bold bg-purple-500 py-2 px-4 rounded-lg text-white hover:bg-purple-600 active:relative active:bottom-[1px] active:left-[1px]"
      >
        Insert Books
      </a>
      <a
        th:href="@{/admin/book}"
        class="font-bold bg-purple-500 py-2 px-4 rounded-lg text-white hover:bg-purple-600 active:relative active:bottom-[1px] active:left-[1px]"
      >
        Look Books
      </a>
    </div>

    <!-- back button  -->
    <div class="w-[30px] ml-10 mb-10">
      <a th:href="@{/}">
        <img class="w-[30px]" th:src="@{/svg/back-arrow.svg}" alt="back" />
      </a>
    </div>
  </body>
</html>
