<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.build.tailwind.css}" rel="stylesheet" />
    <title>Update Book</title>
  </head>
  <body class="bg-yellow-100">
    <h1 class="underline text-center mt-10 mb-20 text-[30px] font-medium">
      Edit the Information for Updation
    </h1>

    <form
      th:action="@{/admin/updateBook}"
      method="POST"
      th:object="${Book}"
      enctype="multipart/form-data"
      class=""
    >
      <table
        class="mx-auto rounded-lg bg-purple-100 w-[70%] p-10 text-xl mb-10"
      >
        <tr class="my-5 flex justify-between py-6 px-6 mx-auto w-[50%]">
          <th>Author Name</th>
          <td>
            <input type="text" required th:field="*{author}" />
          </td>
        </tr>
        <tr class="my-5 flex justify-between py-6 px-6 mx-auto w-[50%]">
          <th>Book Title</th>
          <td>
            <input type="text" required th:field="*{title}" />
          </td>
        </tr>
        <tr class="my-5 flex justify-between py-6 px-6 mx-auto w-[50%]">
          <th>Book Price</th>
          <td class="bg-white">
            <input type="number" required th:field="*{price}" />₹
          </td>
        </tr>
        <tr class="my-5 flex justify-between py-6 px-6 mx-auto w-[50%]">
          <th>Total Page No.</th>
          <td>
            <input type="number" required th:field="*{pageNo}" />
          </td>
        </tr>
        <tr class="my-5 flex justify-between py-6 px-6 mx-auto w-[50%]">
          <th>Is it Ebook?</th>
          <td>
            <input type="checkbox" class="w-6 h-6" th:field="*{isEbook}" />
          </td>
        </tr>
        <tr class="my-5 flex justify-between py-6 px-6 mx-auto w-[50%]">
          <th>Is Book is Available</th>
          <td>
            <input type="checkbox" class="w-6 h-6" th:field="*{available}" />
          </td>
        </tr>
        <tr class="my-5 flex justify-between py-6 px-6 mx-auto w-[50%]">
          <th>Uploaded Image:</th>
          <td>
            <img th:src="@{/img/books/{fileName}(fileName=*{imagePath})}" />
          </td>
        </tr>
        <tr class="my-5 flex justify-between py-6 px-6 mx-auto w-[50%]">
          <th>Upload Updated Image:</th>
          <td>
            <input class="text-base" type="file" name="image" accept=".webp" />
          </td>
        </tr>
      </table>

      <div class="text-center mb-10">
        <button
          class="border-2 border-black py-1 px-4 bg-purple-200 text-purple-900 font-bold rounded-lg active:bg-purple-300"
          type="submit"
        >
          Update
        </button>
      </div>
    </form>

    <!-- back button  -->
    <div class="w-[30px] ml-10 mb-10">
      <button onclick="history.back()">
        <img class="w-[30px]" th:src="@{/svg/back-arrow.svg}" alt="back" />
      </button>
    </div>
  </body>
</html>
