<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- this is where we refer the css file from src/main/resources/static/css/style.build.tailwind.css -->
    <link th:href="@{/css/style.build.tailwind.css}" rel="stylesheet" />
  </head>

  <body class="bg-backgroud-color1 text-white">
    <h1 class="text-center text-6xl mt-10 mb-10 text-[30px] font-medium">
      Book Store
    </h1>

    <div
      class="bg-gradient-to-r from-purple-600 to-pink-600 w-[90%] min-h-[2px] mx-auto"
    ></div>

    <div class="flex flex-wrap justify-evenly w-auto mx-28 p-10 mt-32">
      <a
        th:href="@{/main/book}"
        class="font-bold py-6 px-10 rounded-lg text-4xl text-white opacity-80 box-border border-2 border-transparent hover:border-violet-800 hover:opacity-100 active:relative active:left-[1px] active:top-[2px]"
        >User Window</a
      >

      <a
        th:href="@{/admin/home}"
        class="font-bold bg-opacity-25 py-6 px-10 rounded-lg text-4xl text-white opacity-80 box-border border-2 border-transparent hover:border-violet-800 hover:opacity-100 active:relative active:left-[1px] active:top-[2px]"
        >Admin Window</a
      >
    </div>
  </body>
</html>
